<p-table
  #dt
  [value]="lista"
  dataKey="id"
  styleClass="ui-table-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Mostrando da {first} a {last} di {totalRecords} records"
  [filterDelay]="500"
  [lazy]="true"
  (onLazyLoad)="loadLazy($event)"
  [totalRecords]="totalRecords"
>
  <ng-template pTemplate="caption">
    {{ title }}
    <div class="ui-table-globalfilter-container" *ngIf="!disableTopButton">
      <button class="btn btn-success" (click)="btnClick()">
        <i
          class="fa fa-plus"
          aria-hidden="true"
          routerLinkActive="router-link-active"
        ></i>
        <b>{{ buttonText }}</b>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let item of options.colsOptions; let i = index"
        pSortableColumn="{{ item.name }}"
      >
        {{ item.label
        }}<p-sortIcon
          field="{{ item.name }}"
          *ngIf="(i != options.colsOptions.length - 1 ||
            options.colsOptions[options.colsOptions.length - 1].name !=
            'operazioni') && (i != options.colsOptions.length - 2 ||
            options.colsOptions[options.colsOptions.length - 2].name !=
            'durata')"
        ></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let item of options.colsOptions; let i = index">
        <input
          pInputText
          type="text"
          placeholder="Ricerca per {{ item.label }}"
          class="ui-column-filter"
          *ngIf="
            (i != options.colsOptions.length - 1 ||
            options.colsOptions[options.colsOptions.length - 1].name !=
            'operazioni') && (i != options.colsOptions.length - 2 ||
            options.colsOptions[options.colsOptions.length - 2].name !=
            'durata')
          "
          (input)="dt.filter($event.target.value, item.name, 'contains')"
        />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lista>
    <tr class="ui-selectable-row">
      <td
        *ngFor="let item of options.colsOptions; let i = index"
        (click)="select(lista[tipoId], item)"
      >
        <span class="ui-column-title">{{ item.label }}</span>
        {{ lista[item.name] }}

        <span
          *ngIf="
            i == options.colsOptions.length - 1 &&
            !disableButtons &&
            options.colsOptions[options.colsOptions.length - 1].name ==
              'operazioni'
          "
        >
          <button
            class="btn btn-success mr-3"
            *ngIf="!disableValuta"
            (click)="valuta(lista[tipoId])"
          >
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </button>

          <button
            class="btn btn-primary mr-3"
            (click)="edit(lista[tipoId])"
            *ngIf="!disableEdit"
          >
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger"
            (click)="delete(lista[tipoId])"
            *ngIf="!disableDelete"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-success"
            (click)="aggiungi(lista.dipendente_id)"
            *ngIf="showAggiungi"
          >
            AGGIUNGI
          </button>
          <button
            class="btn btn-success"
            (click)="aggiungi(lista[tipoId])"
            *ngIf="showAggiungiDoc"
          >
            SELEZIONA
          </button>
        </span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr style="text-align: left;">
      <td [attr.colspan]="options.colsOptions.length - 1">
        {{ testo_mancante }}
      </td>
    </tr>
  </ng-template>
</p-table>
