<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <app-input-docenti
        [parentForm]="newFromGroup"
        (submitForm)="subit()"
        [submit]="subitIndicator"
        [nazioni]="nazioni"
        [provincia]="province"
        [localita]="localita"
      ></app-input-docenti>
    </div>
  </div>
</div>
