
        <div *ngIf="mostraValutazioni">
          <h4 style="text-align: center;">
            <i
              class="fa fa-undo"
              aria-hidden="true"
              style="float: left; color: rgb(105, 107, 109);"
              (click)="indietro()"
              *ngIf="!paginaDettCorso"
            ></i>
            <b>Corso : {{ nomeCorso }}</b>
          </h4>
          <br />
          <table
            class="table table-borderless"
            style="margin-left: 20%; width: 70%;"
          >
            <tr
              *ngFor="let val of colonne; let i = index"
              style="font-size: large; color: rgb(105, 107, 109);"
            >
              <td>{{ val }}</td>
              <td>
                <p-rating
                  [stars]="6"
                  [(ngModel)]="valore[i]"
                  (onRate)="handleRate($event, i)"
                  (onCancel)="handleCancel($event, i)"
                ></p-rating>
              </td>
              <td>
                <div *ngIf="scrittaVoto != null" style="font-size: medium;">
                  {{ scrittaVoto[i] }}
                </div>
              </td>
            </tr>
          </table>
          <button
            class="btn btn-primary mr-3 mb-2"
            style="float: right;"
            (click)="conferma()"
          >
            CONFERMA
          </button>
        </div>
