<div class="animated fadeIn">
  <p-tabView>
    <p-tabPanel header="Dettagli" leftIcon="pi pi-inbox"
      ><br />
      <app-input-corsi
        [parentForm]="formGroup"
        [corsiDocentiForm]="corsiDocentiForm"
        [aggiungiForm]="aggiungiForm"
        [listaAlunni]="listaAlunni"
        [options]="options"
        [internoBoolean]="internoBoo"
        [idCorso]="idCorso"
        [dettaglioCorsoPage]="true"
        [disableDelete]="true"
        [disableEdit]="true"
        [disableTopButton]="true"
        [disableButton]="true"
        (onValutaAlu)="valutaAlu($event)"
        (onValutaDoc)="valutaDoc()"
      ></app-input-corsi>
      <p-dialog
        header="Valutazione Alunno"
        [(visible)]="displayValutazione"
        [modal]="true"
        [style]="{ width: '60vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <app-valutazione-stelline
          [colonne]="colonne"
          [mostraValutazioni]="mostraValutazioni"
          [nomeCorso]="nomeCorso"
          [paginaDettCorso]="true"
          [valore]="valore"
          [scrittaVoto]="scrittaVoto"
          (onConferma)="conferma()"
          (onHandleCancel)="handleCancel($event)"
          (onHandleRate)="handleRate($event)"
        >
        </app-valutazione-stelline>
        <div *ngIf="mostraValutazioniDoc">
          <h4 style="text-align: center;">
            <b>Corso : {{ nomeCorso }}</b>
          </h4>
          <br />
          <div class="row">
            <div class="col-2"></div>
            <div class="col text-center">Insufficente</div>
            <div class="col text-center">Sufficente</div>
            <div class="col text-center">Buono</div>
            <div class="col text-center">Molto buono</div>
            <div class="col-2 text-center">Media</div>
          </div>

          <app-input-valutazione
            *ngFor="let item of colonneDoc; let i = index"
            [titolo]="item"
            (onChangeMedia)="nuovaMedia($event, i)"
          ></app-input-valutazione>
          <button
            class="btn btn-primary mr-3 mb-2"
            style="float: right;"
            (click)="confermaDoc()"
          >
            CONFERMA
          </button>
        </div>
      </p-dialog>
    </p-tabPanel>
    <p-tabPanel header="Valutazioni" leftIcon="pi pi-star">
      <h3 style="text-align: center;">
        <b>{{ nomeCorso }}</b>
        <i
          [ngClass]="
            mostraValutazioneCorso ? 'pi pi-chevron-down' : 'pi pi-chevron-up'
          "
          (click)="getVoti()"
          style="color: rgb(2, 101, 250); margin-top: 1em;"
        ></i>
      </h3>
      <table
        class="table table-borderless"
        *ngIf="valutazioneCorso && mostraValutazioneCorso"
        style="width: 80%; font-size: medium; margin-left: 10%;"
      >
        <br />
        <tr
          *ngFor="let voto of listaVoti"
          class="table-light"
          style="color: rgb(110, 107, 107);"
        >
          <td>
            <b>{{ voto.criterio }}</b>
          </td>
          <td>{{ voto.valore }}</td>
        </tr>
      </table>
      <div
        *ngIf="!valutazioneCorso && mostraValutazioneCorso"
        style="color: red; text-align: center; font-size: large;"
      >
        <br />
        <b
          ><i class="fa fa-exclamation-triangle" style="margin-right: 2em;"></i>
          Ancora nessuna valutazione per questo corso
        </b>
      </div>
      <h3 style="text-align: center;">
        <b>Docente: {{ ragioneSociale }}</b>
        <i
          [ngClass]="
            mostraValutazioneDocente ? 'pi pi-chevron-down' : 'pi pi-chevron-up'
          "
          (click)="espandiDocente()"
          style="color: rgb(2, 101, 250); margin-top: 1em;"
        ></i>
      </h3>
      <table
        class="table table-borderless"
        *ngIf="valutazioneDocente && mostraValutazioneDocente"
        style="width: 80%; font-size: medium; margin-left: 10%;"
      >
        <br />
        <tr
          *ngFor="let c of criteriDoc"
          class="table-light"
          style="color: rgb(110, 107, 107);"
        >
          <td>
            <b>{{ c.criterio }}</b>
          </td>
          <td>{{ c.valore }}</td>
        </tr>
      </table>
      <div
        *ngIf="!valutazioneDocente && mostraValutazioneDocente"
        style="color: red; text-align: center; font-size: large;"
      >
        <br />
        <b
          ><i class="fa fa-exclamation-triangle" style="margin-right: 2em;"></i>
          Ancora nessuna valutazione per questo docente
        </b>
      </div>
      <br />
      <h3 style="text-align: center;"><b>Alunni:</b></h3>
      <div
        style="color: red; text-align: center; font-size: large;"
        *ngIf="listaAlunni == null"
      >
        <br />
        <b
          ><i class="fa fa-exclamation-triangle" style="margin-right: 2em;"></i>
          Nessun alunno presente in questo corso
        </b>
      </div>
      <div *ngIf="listaAlunni != null" style="margin-left: 3em;">
        <div *ngFor="let alu of listaAlunni; let i = index">
          <h5>
            <i
              [ngClass]="
                expanded[i] ? 'pi pi-chevron-down' : 'pi pi-chevron-up'
              "
              (click)="getExpanded(alu.dipendente_id, i)"
              style="color: rgb(2, 101, 250); margin-top: 1em;"
            ></i>
            <b>{{ alu.nome }} {{ alu.cognome }}</b>
          </h5>
          <table
            class="table table-borderless"
            *ngIf="expanded[i] && mostraTabella[i]"
            style="width: 80%; font-size: medium; margin-left: 10%;"
          >
            <br />
            <tr
              *ngFor="let c of criteri"
              class="table-light"
              style="color: rgb(110, 107, 107);"
            >
              <td>
                <b>{{ c.criterio }}</b>
              </td>
              <td>{{ c.valore }}</td>
            </tr>
          </table>
          <div
            *ngIf="expanded[i] && mostraScritta[i]"
            style="color: red; text-align: center; font-size: large;"
          >
            <br />
            <b
              ><i
                class="fa fa-exclamation-triangle"
                style="margin-right: 2em;"
              ></i>
              Ancora nessuna valutazione per questo alunno
            </b>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
