<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <p-tabView (activeIndexChange)="setInterno($event)">
        <p-tabPanel
          (onTabClick)="setInterno(0)"
          header="Esterni"
          leftIcon="pi pi-user"
        >
          <app-datatable
            [lista]="lista"
            [options]="options"
            (onDelete)="delete($event)"
            (onSelect)="select($event)"
            (onEdit)="edit($event)"
            (onPlus)="nuovoDoc()"
            [title]="titolo"
            [buttonText]="'Nuovo'"
            [testo_mancante]="'Nessun docente trovato'"
            [totalRecords]="tr"
            (onLoad)="load($event)"
            [tipoId]="tipoId"
            (onValuta)="valuta($event)"
          >
          </app-datatable>
          <p-toast
            position="center"
            key="c"
            (onClose)="onReject()"
            [modal]="true"
            [baseZIndex]="5000"
          >
            <ng-template let-message pTemplate="message">
              <div style="text-align: center;">
                <i
                  class="pi pi-exclamation-triangle"
                  style="font-size: 2.5em;"
                ></i>
                <br />
                <h3>{{ message.summary }}</h3>
                <p>{{ message.detail }}</p>
                <br />
              </div>
              <div class="ui-g ui-fluid">
                <div class="col-6">
                  <button
                    type="button"
                    (click)="onConfirm()"
                    class="btn btn-success"
                  >
                    SI
                  </button>
                </div>
                <div class="col-6">
                  <button
                    type="button"
                    (click)="onReject()"
                    class="btn btn-secondary"
                  >
                    NO
                  </button>
                </div>
              </div>
            </ng-template>
          </p-toast>
          <p-toast [style]="{ marginTop: '80px' }"></p-toast>
          <p-dialog
            header="Informazioni Docente Esterno"
            [(visible)]="displayModal"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [baseZIndex]="10000"
            [draggable]="false"
            [resizable]="false"
            *ngIf="listaModal != null"
          >
            <p-tabView>
              <p-tabPanel header="Info" leftIcon="pi pi-user">
                <app-input-docenti
                  [parentForm]="listaModal"
                  [disableButton]="true"
                  [nazioni]="nazioni"
                  [provincia]="province"
                  [localita]="localita"
                  [paginaDettaglio]="true"
                >
                </app-input-docenti>
              </p-tabPanel>
              <p-tabPanel header="Corsi e Valutazioni" leftIcon="pi pi-star">
                <app-tab-corsi-val
                  (onGetExpanded)="getExpanded($event)"
                  [frase]="frase"
                  [mostraScritta]="mostraScritta"
                  [mostraTabella]="mostraTabella"
                  [criteri]="criteri"
                  [expanded]="expanded"
                  [appoggio]="appoggio"
                  *ngIf="!mostraNiente"
                ></app-tab-corsi-val>
                <div
                  style="background-color: #ffe399; padding: 1em;"
                  *ngIf="mostraNiente"
                >
                  <i class="fa fa-warning"></i>
                  <span class="custom-message" style="margin-left: 20%;">
                    <b>Questo docente non è presente in nessun corso</b>
                  </span>
                </div>
              </p-tabPanel>
            </p-tabView>
          </p-dialog>
        </p-tabPanel>
        <p-tabPanel header="Interni" leftIcon="pi pi-users">
          <app-datatable
            [lista]="listaInterni"
            [options]="optionsInterni"
            (onSelect)="selectInterni($event)"
            title="Docenti Interni"
            [testo_mancante]="'Nessun docente trovato'"
            [totalRecords]="trInterni"
            (onLoad)="loadInterni($event)"
            tipoId="dipendente_id"
            disableEdit="true"
            disableDelete="true"
            disableTopButton="true"
            (onValuta)="valuta($event)"
          >
          </app-datatable>
          <p-dialog
            header="Informazioni Docente Interno"
            [(visible)]="displayModalInterni"
            [modal]="true"
            [style]="{ width: '60vw' }"
            [baseZIndex]="10000"
            [draggable]="false"
            [resizable]="false"
            *ngIf="listaModalInterni != null"
          >
            <p-tabView>
              <p-tabPanel header="Info" leftIcon="pi pi-users">
                <app-dettaglio-alunni [listaAlunno]="listaModalInterni">
                </app-dettaglio-alunni>
              </p-tabPanel>
              <p-tabPanel
                header="Corsi e Valutazioni"
                leftIcon="pi pi-star"
                *ngIf="mostraTabCorsiEValutazioni"
              >
                <app-tab-corsi-val
                  (onGetExpanded)="getExpanded($event)"
                  [frase]="frase"
                  [mostraScritta]="mostraScritta"
                  [mostraTabella]="mostraTabella"
                  [criteri]="criteri"
                  [expanded]="expandedInterni"
                  [appoggio]="appoggioInterni"
                ></app-tab-corsi-val>
              </p-tabPanel>
            </p-tabView>
          </p-dialog>
        </p-tabPanel>
      </p-tabView>
    </div>
    <p-dialog
      header="Valutazione Docente"
      [(visible)]="displayValutazione"
      [modal]="true"
      [style]="{ width: '60vw' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <app-datatable
        [lista]="listaCorsi"
        [options]="optionsCorsi"
        (onSelect)="selectCorsi($event)"
        [title]="'Seleziona un corso'"
        [testo_mancante]="'Nessun corso trovato'"
        disableTopButton="true"
        [tipoId]="'corsoId'"
        [disableButtons]="true"
        [totalRecords]="trCorsi"
        *ngIf="!mostraValutazioni && !mostraScrittaNoCorsoVal"
      >
      </app-datatable>
      <div
        style="background-color: #ffe399; padding: 1em;"
        *ngIf="mostraScrittaNoCorsoVal"
      >
        <i class="fa fa-warning" style="margin-left: 30%;"></i>
        <span class="custom-message" style="margin-left: 2%;">
          <b>Questo docente non è presente in nessun corso</b>
        </span>
      </div>
      <div *ngIf="mostraValutazioni">
        <h4 style="text-align: center;">
          <i
            class="fa fa-undo"
            aria-hidden="true"
            style="float: left; color: rgb(105, 107, 109);"
            (click)="indietro()"
          ></i>
          <b>Corso : {{ nomeCorso }}</b>
        </h4>
        <br />
        <div class="row">
          <div class="col-2"></div>
          <div class="col text-center">Insufficente</div>
          <div class="col text-center">Sufficente</div>
          <div class="col text-center">Buono</div>
          <div class="col text-center">Molto buono</div>
          <div class="col-2 text-center">Media</div>
        </div>
        <app-input-valutazione
          *ngFor="let item of colonne; let i = index"
          [titolo]="item"
          (onChangeMedia)="nuovaMedia($event, i)"
        ></app-input-valutazione>
        <button
          class="btn btn-primary mr-3 mb-2"
          style="float: right;"
          (click)="conferma()"
        >
          CONFERMA
        </button>
      </div>
    </p-dialog>
  </div>
</div>
