<div class="container-fluid">
  <form [formGroup]="parentForm">
    <h4><b>Informazioni personali</b></h4>
    <br />
    <div class="row">
      <div class="form-group col">
        <label for="ragione_sociale">Ragione Sociale</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="ragione_sociale"
          placeholder="Inserisci ragione sociale"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.ragione_sociale.invalid &&
            (parentForm.controls.ragione_sociale.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Ragione Sociale
        </div>
      </div>
      <div class="form-group col">
        <label for="titolo">Titolo</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="titolo"
          aria-describedby="titoloHelp"
          placeholder="Inserisci titolo"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.titolo.invalid &&
            (parentForm.controls.titolo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Titolo
        </div>
      </div>
      <div class="form-group col">
        <label for="referente">Referente</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="referente"
          placeholder="Inserisci referente"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.referente.invalid &&
            (parentForm.controls.referente.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Referente
        </div>
      </div>
    </div>
    <hr />
    <h4><b>Informazioni società</b></h4>
    <br />
    <div class="row">
      <div class="form-group col">
        <label for="telefono">Telefono</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="telefono"
          aria-describedby="telefonoHelp"
          placeholder="Inserisci telefono"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.telefono.invalid &&
            (parentForm.controls.telefono.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Telefono
        </div>
      </div>
      <div class="form-group col">
        <label for="fax">Fax</label>
        <input
          maxlength="10"
          type="text"
          class="form-control"
          formControlName="fax"
          placeholder="Inserisci fax"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.fax.invalid &&
            (parentForm.controls.fax.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Fax
        </div>
      </div>
      <div class="form-group col">
        <label for="piva">Partita iva</label>
        <input
          maxlength="11"
          type="text"
          class="form-control"
          formControlName="piva"
          aria-describedby="pivaHelp"
          placeholder="Inserisci partita iva"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.piva.invalid &&
            (parentForm.controls.piva.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Partita Iva
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-group col">
        <label for="indirizzo">Indirizzo</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="indirizzo"
          aria-describedby="indirizzoHelp"
          placeholder="Inserisci indirizzo"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.indirizzo.invalid &&
            (parentForm.controls.indirizzo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Indirizzo
        </div>
      </div>
      <div class="form-group col">
        <label for="localita">Località</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="localita"
          placeholder="Inserisci localita"
          pInputText
          *ngIf="paginaDettaglio"
        />
        <div style="display: block;">
          <p-dropdown
            [options]="localita"
            formControlName="localita"
            optionLabel="name"
            *ngIf="!paginaDettaglio"
          ></p-dropdown>
        </div>
        <div
          *ngIf="
            parentForm.controls.localita.invalid &&
            (parentForm.controls.localita.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Località
        </div>
      </div>
      <div class="form-group col">
        <label for="provincia">Provincia</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="provincia"
          placeholder="Inserisci provincia"
          pInputText
          *ngIf="paginaDettaglio"
        />
        <div style="display: block;">
          <p-dropdown
            [options]="provincia"
            formControlName="provincia"
            optionLabel="description"
            *ngIf="!paginaDettaglio"
          ></p-dropdown>
        </div>
        <div
          *ngIf="
            parentForm.controls.provincia.invalid &&
            (parentForm.controls.provincia.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Provincia
        </div>
      </div>
      <div class="form-group col">
        <label for="nazione">Nazione</label>
        <input
          maxlength="45"
          type="text"
          class="form-control"
          formControlName="nazione"
          aria-describedby="nazioneHelp"
          placeholder="Inserisci nome"
          pInputText
          *ngIf="paginaDettaglio"
        />
        <div style="display: block;">
          <p-dropdown
            [options]="nazioni"
            formControlName="nazione"
            optionLabel="name"
            *ngIf="!paginaDettaglio"
          ></p-dropdown>
        </div>

        <div
          *ngIf="
            parentForm.controls.nazione.invalid &&
            (parentForm.controls.nazione.dirty || submit)
          "
          class="text-danger"
        >
          Inserire Nazione
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="!disableButton">
      <button class="btn btn-primary" (click)="conferma()">
        Conferma
      </button>
    </div>
  </form>
</div>
