<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-2"></div>

        <div class="col text-center">Insufficente</div>
        <div class="col text-center">Sufficente</div>
        <div class="col text-center">Buono</div>
        <div class="col text-center">Molto buono</div>
        <div class="col-2 text-center">Media</div>
      </div>

      <app-input-valutazione
        *ngFor="let item of criteri; let i = index"
        (onChangeMedia)="nuovaMedia($event, i)"
        [titolo]="item"
      ></app-input-valutazione>
      <div class="row" style="padding-top: 2%;">
        <div class="col text-center">
          <button class="btn btn-primary" (click)="conferma()">
            Conferma
          </button>
          <div class="text-danger" *ngIf="showError" style="padding-top: 2%;">
            Inserire tutte le valutazioni per continuare
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
