<div class="container-fluid">
  <form [formGroup]="parentForm">
    <h4><b>Informazioni principali</b></h4>
    <br />
    <div class="row">
      <div class="form-group col">
        <label for="tipo">Tipo</label><br />
        <input
          class="form-control"
          formControlName="tipo"
          type="text"
          aria-describedby="tipoHelp"
          pInputText
          *ngIf="dettaglioCorsoPage"
        />
        <p-dropdown
          *ngIf="elencoTipi != null && !dettaglioCorsoPage"
          [options]="elencoTipi"
          formControlName="tipo"
          placeholder="Seleziona un tipo"
          [showClear]="true"
          optionLabel="descrizione"
          (onChange)="test($event)"
        ></p-dropdown>
        <div
          *ngIf="
            parentForm.controls.tipo.invalid &&
            (parentForm.controls.tipo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire un tipo
        </div>
      </div>
      <div class="form-group col">
        <label for="tipologia">Tipologia</label><br />
        <input
          class="form-control"
          formControlName="tipologia"
          type="text"
          aria-describedby="tipologiaHelp"
          pInputText
          *ngIf="dettaglioCorsoPage"
        />
        <p-dropdown
          *ngIf="elencoTipologie != null && !dettaglioCorsoPage"
          [options]="elencoTipologie"
          placeholder="Seleziona una tipologia"
          formControlName="tipologia"
          optionLabel="descrizione"
          [showClear]="true"
        ></p-dropdown>
        <div
          *ngIf="
            parentForm.controls.tipologia.invalid &&
            (parentForm.controls.tipologia.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una tipologia
        </div>
      </div>
      <div class="form-group col">
        <label for="stato">Stato</label><br />
        <input
          class="form-control"
          formControlName="stato"
          type="text"
          aria-describedby="statoHelp"
          pInputText
          *ngIf="dettaglioCorsoPage"
        />
        <p-dropdown
          *ngIf="elencoStati != null && !dettaglioCorsoPage"
          [options]="elencoStati"
          formControlName="stato"
          placeholder="Seleziona uno stato"
          optionLabel="value"
          [showClear]="true"
        ></p-dropdown>
        <div
          *ngIf="
            parentForm.controls.stato.invalid &&
            (parentForm.controls.stato.dirty || submit)
          "
          class="text-danger"
        >
          Inserire uno stato
        </div>
      </div>
      <div class="form-group col">
        <label for="luogo">Luogo</label>
        <input
          class="form-control"
          formControlName="luogo"
          maxlength="45"
          type="text"
          aria-describedby="luogoHelp"
          placeholder="Inserisci luogo"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.luogo.invalid &&
            (parentForm.controls.luogo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire un luogo
        </div>
      </div>
    </div>
    <hr />
    <h4><b>Tempistiche</b></h4>
    <br />
    <div class="row">
      <div class="form-group col-1">
        <label for="durata">Durata</label>
        <input
          class="form-control"
          formControlName="durata"
          maxlength="45"
          type="text"
          aria-describedby="durataHelp"
          placeholder="Inserisci durata"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.durata.invalid &&
            (parentForm.controls.durata.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una durata
        </div>
      </div>
      <div class="form-group col-3">
        <label for="misura">Misura</label><br />
        <input
          class="form-control"
          formControlName="misura"
          type="text"
          aria-describedby="misuraHelp"
          pInputText
          *ngIf="dettaglioCorsoPage"
        />
        <p-dropdown
          *ngIf="elencoMisure != null && !dettaglioCorsoPage"
          [options]="elencoMisure"
          placeholder="Seleziona una misura"
          formControlName="misura"
          optionLabel="descrizione"
          [showClear]="true"
        ></p-dropdown>
        <div
          *ngIf="
            parentForm.controls.misura.invalid &&
            (parentForm.controls.misura.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una misura
        </div>
      </div>
      <div class="form-group col">
        <label for="data_erogazione">Data inizio</label><br />
        <p-calendar
          *ngIf="!parentForm.controls.data_erogazione.disabled"
          formControlName="data_erogazione"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-calendar>
        <input
          *ngIf="parentForm.controls.data_erogazione.disabled"
          class="form-control"
          formControlName="data_erogazione"
          type="text"
          aria-describedby="misuraHelp"
          pInputText
        />

        <div
          *ngIf="
            parentForm.controls.data_erogazione.invalid &&
            (parentForm.controls.data_erogazione.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una data d'inizio
        </div>
      </div>
      <div class="form-group col">
        <label for="data_chiusura">Data fine</label><br />
        <p-calendar
          *ngIf="!parentForm.controls.data_chiusura.disabled"
          formControlName="data_chiusura"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-calendar>

        <input
          *ngIf="parentForm.controls.data_chiusura.disabled"
          class="form-control"
          formControlName="data_chiusura"
          type="text"
          aria-describedby="misuraHelp"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.data_chiusura.invalid &&
            (parentForm.controls.data_chiusura.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una data di fine
        </div>
      </div>
      <div class="form-group col">
        <label for="data_censimento">Data censimento</label><br />

        <p-calendar
          *ngIf="!parentForm.controls.data_censimento.disabled"
          formControlName="data_censimento"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-calendar>
        <input
          *ngIf="parentForm.controls.data_censimento.disabled"
          class="form-control"
          formControlName="data_censimento"
          type="text"
          aria-describedby="misuraHelp"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.data_censimento.invalid &&
            (parentForm.controls.data_censimento.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una data di censimento
        </div>
      </div>
    </div>
    <hr />
    <h4><b>Altre info</b></h4>
    <br />
    <div class="row">
      <div class="form-group col-3">
        <label for="edizione">Edizione</label>
        <input
          class="form-control"
          formControlName="edizione"
          maxlength="45"
          type="text"
          aria-describedby="edizioneHelp"
          placeholder="Inserisci edizione"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.edizione.invalid &&
            (parentForm.controls.edizione.dirty || submit)
          "
          class="text-danger"
        >
          Inserire un'edizione
        </div>
      </div>
      <div class="form-group col">
        <label for="descrizione">Descrizione</label>
        <textarea
          class="form-control"
          formControlName="descrizione"
          pInputTextarea
          maxlength="45"
          type="text"
          aria-describedby="descrizioneHelp"
          placeholder="Inserisci descrizione"
        ></textarea>
        <div
          *ngIf="
            parentForm.controls.descrizione.invalid &&
            (parentForm.controls.descrizione.dirty || submit)
          "
          class="text-danger"
        >
          Inserire una descrizione
        </div>
      </div>
      <div class="form-group col">
        <label for="note">Note</label>
        <textarea
          class="form-control"
          formControlName="note"
          pInputTextarea
          maxlength="45"
          type="text"
          aria-describedby="noteHelp"
          placeholder="Inserisci note"
        ></textarea>
        <div
          *ngIf="
            parentForm.controls.note.invalid &&
            (parentForm.controls.note.dirty || submit)
          "
          class="text-danger"
        >
          Inserire delle note
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-1">
        <label for="internoBo" style="margin-bottom: 1em;">Interno</label><br />
        <p-inputSwitch
          [(ngModel)]="internoBoolean"
          formControlName="internoBo"
        ></p-inputSwitch>
        <div
          *ngIf="
            parentForm.controls.internoBo.invalid &&
            (parentForm.controls.internoBo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire interno
        </div>
      </div>
      <div class="form-group col-3">
        <label for="ente">Ente</label>
        <input
          class="form-control"
          formControlName="ente"
          maxlength="45"
          type="text"
          aria-describedby="enteHelp"
          placeholder="Inserisci ente"
          pInputText
        />
        <div
          *ngIf="
            parentForm.controls.ente.invalid &&
            (parentForm.controls.ente.dirty || submit)
          "
          class="text-danger"
        >
          Inserire un'ente
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center" *ngIf="mostraPart">
      <button class="btn btn-primary" (click)="salva()">
        Salva e continua
      </button>
    </div>
  </form>
  <form *ngIf="!mostraPart" [formGroup]="corsiDocentiForm">
    <h4><b>Partecipanti</b></h4>
    <br />
    <div class="row">
      <div class="form-group col-1">
        <label for="internoBo" style="margin-bottom: 1em;">Interno</label><br />
        <p-inputSwitch
          [(ngModel)]="internoBooleanDoc"
          formControlName="internoBo"
          (onChange)="annulloInput($event)"
        ></p-inputSwitch>
        <div
          *ngIf="
            corsiDocentiForm.controls.internoBo.invalid &&
            (corsiDocentiForm.controls.internoBo.dirty || submit)
          "
          class="text-danger"
        >
          Inserire interno
        </div>
      </div>
      <div class="form-group col-3">
        <label for="docente">Docente</label>
        <input
          class="form-control"
          formControlName="docente"
          maxlength="45"
          type="text"
          aria-describedby="docenteHelp"
          placeholder="Inserisci docente"
          pInputText
        />
        <div
          *ngIf="
            corsiDocentiForm.controls.docente.invalid &&
            (corsiDocentiForm.controls.docente.dirty || submit)
          "
          class="text-danger"
        >
          Inserire un docente
        </div>
      </div>
      <div class="form-group col-1" *ngIf="!dettaglioCorsoPage">
        <br />
        <button
          type="button"
          class="btn btn-info"
          (click)="showDocente()"
          style="margin-top: 0.5em;"
        >
          {{ testoBottone }}
        </button>
      </div>
      <div
        class="form-group col-1"
        *ngIf="dettaglioCorsoPage && corsiDocentiForm.value.docente != ''"
      >
        <br />
        <button
          type="button"
          class="btn btn-success"
          style="margin-top: 0.5em;"
          (click)="valutaDoc()"
        >
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-group col">
        <app-datatable
          (onDelete)="delete($event)"
          [disableEdit]="disableEdit"
          [disableTopButton]="disableTopButton"
          [disableDelete]="disableDelete"
          [disableValuta]="disableValuta"
          [lista]="listaAlunni"
          [options]="options"
          [tipoId]="'dipendente_id'"
          [title]="'Alunni'"
          [testo_mancante]="'Inserisci gli alunni'"
          (onPlus)="showAggiunta()"
          (onValuta)="valutaAlu($event)"
          [totalRecords]="tr"
          (onLoad)="load($event)"
        >
        </app-datatable>
      </div>
    </div>
    <div class="text-center" *ngIf="!disableButton">
      <button class="btn btn-primary" (click)="conferma()">
        Conferma
      </button>
    </div>
  </form>
  <p-toast
    position="center"
    key="c"
    (onClose)="onReject()"
    [modal]="true"
    [baseZIndex]="5000"
  >
    <ng-template let-message pTemplate="message">
      <div style="text-align: center;">
        <i class="pi pi-exclamation-triangle" style="font-size: 2.5em;"></i>
        <br />
        <h3>{{ message.summary }}</h3>
        <p>{{ message.detail }}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="col-6">
          <button type="button" (click)="onConfirm()" class="btn btn-success">
            SI
          </button>
        </div>
        <div class="col-6">
          <button type="button" (click)="onReject()" class="btn btn-secondary">
            NO
          </button>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>
  <p-dialog
    header="Aggiungi Alunno"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="true"
  >
    <form [formGroup]="aggiungiForm">
      <div class="row">
        <div class="form-group col-1">
          <label for="durata">Durata:</label>
        </div>
        <div class="form-group col-4">
          <input
            class="form-control"
            formControlName="durata"
            maxlength="45"
            type="number"
            min="1"
            aria-describedby="durataHelp"
            placeholder="Inserisci durata"
            pInputText
          />
        </div>
      </div>
    </form>
    <app-datatable
      [showAggiungi]="true"
      [disableValuta]="true"
      [disableTopButton]="true"
      [lista]="listaAll"
      [options]="optionsSelezionaAlunno"
      [title]="'Seleziona un alunno'"
      [testo_mancante]="'Nessun alunno trovato'"
      (onAgg)="select($event)"
      [tipoId]="'dipendente_id'"
      [disableEdit]="true"
      [disableDelete]="true"
      (onLoad)="loadAll($event)"
      [totalRecords]="trAll"
    >
    </app-datatable
    ><br />
  </p-dialog>
  <p-dialog
    header="Seleziona un Docente"
    [(visible)]="displayDoc"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="true"
    *ngIf="optionsDocente != null"
  >
    <app-datatable
      [showAggiungiDoc]="true"
      [disableValuta]="true"
      [disableEdit]="true"
      [disableDelete]="true"
      [disableTopButton]="true"
      [lista]="listaAllDoc"
      [options]="optionsDocente"
      [tipoId]="tipoId"
      [testo_mancante]="'Nessun docente trovato'"
      (onAgg)="selectDoc($event)"
      (onLoad)="loadDoc($event)"
      [totalRecords]="tr"
    >
    </app-datatable
    ><br />
  </p-dialog>
</div>
