label{
    font-weight: bold;
    color: rgb(110, 107, 107);
}
.ui-g button{
    width: 100%;
}
.conferma{
    float: right;
}
body .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    width: 280px;
}