<form [formGroup]="form">
  <div class="row" style="padding-top: 2%;">
    <div class="col-2">{{ titolo }}</div>
    <div class="col text-center">
      <p-spinner
        placeholder="0"
        size="2"
        [min]="0"
        formControlName="insufficente"
        (onChange)="handleChange($event)"
      ></p-spinner>
    </div>
    <div class="col text-center">
      <p-spinner
        placeholder="0"
        size="2"
        [min]="0"
        formControlName="sufficente"
        (onChange)="handleChange($event)"
      ></p-spinner>
    </div>
    <div class="col text-center">
      <p-spinner
        placeholder="0"
        size="2"
        [min]="0"
        formControlName="buono"
        (onChange)="handleChange($event)"
      ></p-spinner>
    </div>
    <div class="col text-center">
      <p-spinner
        placeholder="0"
        size="2"
        [min]="0"
        formControlName="moltoBuono"
        (onChange)="handleChange($event)"
      ></p-spinner>
    </div>
    <div class="col-2">
      {{ risultato }}
    </div>
  </div>
</form>
