<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Tipo corso</th>
      <th scope="col">Media voti</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of appoggio; let i = index">
      <td style="color: rgb(2, 101, 250)">
        <i [ngClass]="expanded[i] ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          (click)="getExpanded(a.indice, i)"></i>
      </td>
      <td>
        <b>{{a.descrizione}}</b><br />
        <table class="table table-borderless" *ngIf="expanded[i] && mostraTabella[i]"><br />
          <tr *ngFor="let c of criteri" class="table-light" style="color: rgb(110, 107, 107)">
            <td><b>{{ c.criterio }}</b></td>
            <td>{{ c.valore }}</td>
          </tr>
        </table>
        <span *ngIf="expanded[i] && mostraScritta[i]" style="color: red;"><br />
          <b><i class="fa fa-exclamation-triangle"></i> {{ frase }} </b>
        </span>
      </td>
      <td><b>{{ a.media }}</b></td>
    </tr>
  </tbody>
</table>