<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <app-datatable
        [lista]="lista"
        [options]="options"
        (onSelect)="select($event)"
        (onValuta)="valuta($event)"
        [title]="titolo"
        [testo_mancante]="'Nessun alunno trovato'"
        disableTopButton="true"
        [tipoId]="tipoId"
        [disableEdit]="true"
        [disableDelete]="true"
        (onLoad)="load($event)"
        [totalRecords]="tr"
      >
      </app-datatable>
      <p-dialog
        header="Informazioni Alunno"
        [(visible)]="displayModal"
        [modal]="true"
        [style]="{ width: '60vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
        *ngIf="listaModal != null"
      >
        <p-tabView>
          <p-tabPanel header="Info" leftIcon="pi pi-user">
            <app-dettaglio-alunni [listaAlunno]="listaModal">
            </app-dettaglio-alunni>
          </p-tabPanel>
          <p-tabPanel header="Corsi e Valutazioni" leftIcon="pi pi-star">
            <app-tab-corsi-val
              (onGetExpanded)="getExpanded($event)"
              [frase]="frase"
              [mostraScritta]="mostraScritta"
              [mostraTabella]="mostraTabella"
              [criteri]="criteri"
              [expanded]="expanded"
              [appoggio]="appoggio"
            ></app-tab-corsi-val>
          </p-tabPanel>
        </p-tabView>
      </p-dialog>
      <p-dialog
        header="Valutazione Alunno"
        [(visible)]="displayValutazione"
        [modal]="true"
        [style]="{ width: '60vw' }"
        [baseZIndex]="10000"
        [draggable]="false"
        [resizable]="false"
      >
        <app-datatable
          [lista]="listaCorsi"
          [options]="optionsCorsi"
          (onSelect)="selectCorsi($event)"
          [title]="'Seleziona un corso'"
          [testo_mancante]="'Nessun corso trovato'"
          disableTopButton="true"
          [tipoId]="'corsoId'"
          [disableButtons]="true"
          [totalRecords]="trCorsi"
          *ngIf="!mostraValutazioni"
        >
        </app-datatable>
        <app-valutazione-stelline
          [colonne]="colonne"
          [nomeCorso]="nomeCorso"
          [mostraValutazioni]="mostraValutazioni"
          [valore]="valore"
          [scrittaVoto]="scrittaVoto"
          (onConferma)="conferma()"
          (onHandleCancel)="handleCancel($event)"
          (onHandleRate)="handleRate($event)"
          (onIndietro)="indietro()"
        >
        </app-valutazione-stelline>
      </p-dialog>
    </div>
  </div>
</div>
