<div class="container-fluid">
    <form [formGroup]="formGroup">
      <h4><b>Informazioni personali</b></h4>
      <br />
      <div class="row">
        <div class="form-group col">
          <label for="matricola">Matricola</label>
          <input class="form-control" formControlName="matricola" pInputText />
        </div>
        <div class="form-group col">
          <label for="nome">Nome</label>
          <input class="form-control" formControlName="nome" pInputText />
        </div>
        <div class="form-group col">
          <label for="cognome">Cognome</label>
          <input class="form-control" formControlName="cognome" pInputText />
        </div>
        <div class="form-group col">
          <label for="sesso">Sesso</label>
          <input class="form-control" formControlName="sesso" pInputText />
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="data_nascita">Data di Nascita</label>
          <input class="form-control" formControlName="data_nascita" pInputText />
        </div>
        <div class="form-group col">
          <label for="luogo_nascita">Luogo di nascita</label>
          <input
            class="form-control"
            formControlName="luogo_nascita"
            pInputText
          />
        </div>
        <div class="form-group col">
          <label for="stato_civile">Stato civile</label>
          <input class="form-control" formControlName="stato_civile" pInputText />
        </div>
      </div>
      <hr />
      <h4><b>Istruzione e formazione</b></h4>
      <br />
      <div class="row">
        <div class="form-group col">
          <label for="titolo_studio">Titolo di studio</label>
          <input
            class="form-control"
            formControlName="titolo_studio"
            pInputText
          />
        </div>
        <div class="form-group col">
          <label for="conseguito_presso">Conseguito presso</label>
          <input
            class="form-control"
            formControlName="conseguito_presso"
            pInputText
          />
        </div>
        <div class="form-group col">
          <label for="anno_conseguimento">Anno conseguimento</label>
          <input
            class="form-control"
            formControlName="anno_conseguimento"
            pInputText
          />
        </div>
      </div>
      <hr />
      <h4><b>Informazioni lavorative</b></h4>
      <br />
      <div class="row">
        <div class="form-group col">
          <label for="tipo_dipendente">Tipo dipendente</label>
          <input
            class="form-control"
            formControlName="tipo_dipendente"
            pInputText
          />
        </div>
        <div class="form-group col">
          <label for="qualifica">Qualifica</label>
          <input class="form-control" formControlName="qualifica" pInputText />
        </div>
        <div class="form-group col">
          <label for="livello">Livello</label>
          <input class="form-control" formControlName="livello" pInputText />
        </div>
      </div>
    </form>
  </div>
  