<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <app-input-corsi
        [parentForm]="formEdit"
        [aggiungiForm]="aggiungiForm"
        [corsiDocentiForm]="corsiDocentiForm"
        (submitForm)="subit()"
        [submit]="subitIndicator"
        (onElimina)="delete($event)"
        (onConferma)="onConfirm()"
        (onRifiuta)="onReject()"
        (onSeleziona)="aggAlunno($event)"
        (onSelezionaDoc)="aggDoc($event)"
        (onAnnullaInput)="annullaInput($event)"
        [listaAlunni]="listaAlunni"
        [options]="options"
        [internoBoolean]="internoBoo"
        [testoBottone]="'Cambia'"
        [idCorso]="idCorso"
        [disableEdit]="true"
        [disableValuta]="true"
      ></app-input-corsi>
    </div>
  </div>
</div>
