<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <p-toast
        position="center"
        key="c"
        (onClose)="onReject()"
        [modal]="true"
        [baseZIndex]="5000"
      >
        <ng-template let-message pTemplate="message">
          <div style="text-align: center;">
            <i class="pi pi-exclamation-triangle" style="font-size: 2.5em;"></i>
            <h3>{{ message.summary }}</h3>
            <p>{{ message.detail }}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="col-6">
              <button
                type="button"
                (click)="onConfirm()"
                class="btn btn-success"
              >
                SI
              </button>
            </div>
            <div class="col-6">
              <button
                type="button"
                (click)="onReject()"
                class="btn btn-secondary"
              >
                NO
              </button>
            </div>
          </div>
        </ng-template>
      </p-toast>
      <p-toast [style]="{ marginTop: '80px' }"></p-toast>
      <app-datatable
        [lista]="corsi"
        [title]="titolo"
        [options]="options"
        (onValuta)="valuta($event)"
        (onDelete)="delete($event)"
        (onSelect)="dettaglioCorsi($event)"
        (onEdit)="edit($event)"
        (onPlus)="nuovoCorso()"
        [title]="titolo"
        [testo_mancante]="'Nessun corso trovato'"
        [buttonText]="'Nuovo'"
        [tipoId]="tipoId"
        [totalRecords]="tr"
        (onLoad)="load($event)"
      >
      </app-datatable>
    </div>
  </div>
</div>
