.nuovoBtn{
    float: right;
}
.contenitore{
    border: 1px solid #b3c2ca;
    background-color: rgb(238, 238, 238);
    height: 150px;
    border-radius: 20px;
    margin: 0.3em;
    padding: 2em 2em 2.25em 2em;
}
.contenitore .numeroPart, .contenitore button{
    float: right;
}

.ui-g button{
    width: 100%;
}